---
layout: base
---

<div class="am-container lp-container">
  <div class="lp-post">
    <div class="lp-post-header">
      <h1 class="lp-post-title">{{ page.title }}</h1>
      <div class="lp-post-meta">
        <i class="am-icon-calculator"></i><span class="lp-post-date">{{ page.date | date: "%Y-%m-%d" }}</span>
        <i class="am-icon-tags"></i><span class="lp-post-tags">{{ page.tags | join: ", " }}</span>
      </div>
    </div>
    <div class="lp-post-content">
    {{ content }}
    </div>
    
    {% include disqus.html %}
  </div>
</div>